In [ ]:
import pandas as pd

sample = pd.read_csv('sample.xls')
display(sample)
sample.info()



sample.Name.unique()

In [ ]:
sample[(sample.Age>20)]

In [ ]:
sample.query('Age>20')

In [ ]:
sample.Name.str.match('К', na = False)

In [ ]:
sample[sample.Name.str.match('К', na = False)]
sample[~sample.Name.str.match('К', na = False)] #тильда для получения противоположного DataFrame

In [ ]:
sample4 = sample[~sample.City.str.contains('о', na = False)]
sample4

In [ ]:
sample.Age.apply(lambda x: x**2)

In [ ]:
def func(x):
    if x<20:
        return x
    else:
        return 0
sample.Age.apply(func)

In [ ]:
sample = pd.read_csv('sample.xls')

sample.Age = sample.Age.apply(lambda x: x+1)
sample2 = sample
sample2

In [ ]:
sample['Age']

In [ ]:
sample = pd.read_csv("sample.xls")

sample.City = sample.City.apply(lambda s: str(s).lower())
sample2 = sample
sample

In [ ]:
# Напишите функцию profession_code, которая на вход получает строку, а на выход возвращает:

def profession_code(s):
    if s == 'Рабочий':
        return 0
    elif s == 'Менеджер':
        return 1
    else:
        return 2

In [ ]:
# Примените функцию profession_code для того, чтобы заменить поле Profession с помощью apply. 
# охраните получившийся датафрейм в переменную sample2.

sample = pd.read_csv("sample.xls")

def profession_code(s):
    if s == 'Рабочий':
        return 0
    elif s == 'Менеджер':
        return 1
    else:
        return 2
    
sample.Profession = sample.Profession.apply(lambda s: profession_code(s))
sample2 = sample

In [ ]:
# Напишите функцию age_category, которая на вход получает число, а на выход отдаёт:

def age_category(age):
    if age < 23:
        return 'молодой'
    elif 23<age<35:
        return 'средний'
    elif age>35:
        return 'зрелый'

In [34]:
sample = pd.read_csv("sample.xls")

def age_category(age):
    if age < 23:
        return 'молодой'
    elif 23<age<35:
        return 'средний'
    elif age>35:
        return 'зрелый'

sample['Age category'] = sample.Age.apply(lambda x: age_category(x))

sample
# df = df.drop(df[df.score < 50].index)

            Name         City  Age Profession Age category
0         Иванов       Москва   25     Клинер      средний
1            NaN    Волгоград   31   Менеджер      средний
2         Иванов       Москва   25     Клинер      средний
3        sidorov  Владивосток   43   Менеджер       зрелый
4        _______        Курск   50   Водитель       зрелый
5       Кузнецов         Сочи   19    Рабочий      молодой
6          Сажин       Сургут   29    Рабочий      средний
7   Котлеревский   Йошкар-Ола   32    Рабочий      средний
8     Завалишина    Чебоксары   36   Менеджер       зрелый
9         Левина          NaN   55    Рабочий       зрелый
10          Фикс         Рига   42    Рабочий       зрелый

In [42]:
# sample = sample.drop(sample[sample.Name == 'NaN'].index)
sample.drop(sample['Age']==25)

KeyError: '[ True False  True False False False False False False False False] not found in axis'

In [43]:
sample.query('City in ["Рига","Сочи"]')

        Name  City  Age Profession Age category
5   Кузнецов  Сочи   19    Рабочий      молодой
10      Фикс  Рига   42    Рабочий       зрелый