In [18]:
# Пример создания и операций над DataFrame
import pandas as pd

df = pd.DataFrame({'Letters':('a','b', 'c', 'd', 'e', 'f', 'g','a','b','c','d'),
                  'Digits':(1,2,3,4,5,6,7,1,2,3,4),
                  'Opposite':(7,6,5,4,3,2,1,7,6,5,4)})

df.index = ('First', 'Second', 'Third', 'Four', 'Fifth', 'Six', 'Seventh', 'Eight', 'Nine', 'Ten', 'Eleven')

print('____________________________Вывод DataFrame_________________________________________')
display(df)


# df.loc['First'] # вывод данных всей строки с индексом First
print('______________________вывод строки по номерному индексу___________________________')
display(df.iloc[1]) # вывод строки по номерному индексу

print('_______________вывод колонки Opposite по условию значений колонки Digits>2_____________')
data = df[df.Digits > 2].Opposite # вывод колонки Opposite по условию значений колонки Digits>2 
display(data)

print('_______________Группировка по Letters и вывод суммы значений Opposite_____________')
group = df.groupby(['Letters']).Opposite.sum()
display(group)

print('_______________Сводная таблица_____________')
df.loc[df.Digits.isin(['3'])].pivot_table(values = ['Opposite'], index = 'Digits', columns = 'Letters')

____________________________Вывод DataFrame_________________________________________

        Letters  Digits  Opposite
First         a       1         7
Second        b       2         6
Third         c       3         5
Four          d       4         4
Fifth         e       5         3
Six           f       6         2
Seventh       g       7         1
Eight         a       1         7
Nine          b       2         6
Ten           c       3         5
Eleven        d       4         4

______________________вывод строки по номерному индексу___________________________

Letters     b
Digits      2
Opposite    6
Name: Second, dtype: object

_______________вывод колонки Opposite по условию значений колонки Digits>2_____________

Third      5
Four       4
Fifth      3
Six        2
Seventh    1
Ten        5
Eleven     4
Name: Opposite, dtype: int64

_______________Группировка по Letters и вывод суммы значений Opposite_____________

Letters
a    14
b    12
c    10
d     8
e     3
f     2
g     1
Name: Opposite, dtype: int64

_______________Сводная таблица_____________

        Opposite
Letters        c
Digits
3              5