In [34]:
# Пример создания и операций над DataFrame
import pandas as pd

df = pd.DataFrame({'Letters':('a','b', 'c', 'd', 'e', 'f', 'g'),
                  'Digits':(1,2,3,4,5,6,7),
                  'Opposite':(7,6,5,4,3,2,1)})

df.index = ('First', 'Second', 'Third', 'Four', 'Fifth', 'Six', 'Seventh')

display(df)
# print(type(df))

# df.loc['First'] # вывод данных всей строки с индексом First
df.iloc[1] # вывод строки по номерному индексу

data = df[df.Digits > 2].Opposite # вывод колонки Opposite по условию значений колонки Digits>2 
display(data)

group = df.groupby(['Digits']).Opposite.sum()
display(group)

        Letters  Digits  Opposite
First         a       1         7
Second        b       2         6
Third         c       3         5
Four          d       4         4
Fifth         e       5         3
Six           f       6         2
Seventh       g       7         1

Third      5
Four       4
Fifth      3
Six        2
Seventh    1
Name: Opposite, dtype: int64

Digits
1    7
2    6
3    5
4    4
5    3
6    2
7    1
Name: Opposite, dtype: int64