In [2]:
                                        #Структура Series. 


# Это одномерный массив, колонка из таблицы, к примеру (аналог списка). 
# В отличии от списка в Series индексами могут быть не только порядковые номера, но и что угодно (датыЮ имена и тд) 
#Cоздать Series можно с помощью команды pandas.Series. Или pd.Series, елси библиотека ипортирована, как pd.

##Пример
import pandas as pd

data = pd.Series(['January', 'February', 'March', 'April'],
                index = ['First','Second','Third', 'Four'])

data
# Базовый синтаксис: pd.Series(data = None, index = None, dtype = None, name = None, cope = False, fastpath = False)

# data - массив, словарь или скалярное значение, на базе которого будет построен Series
# index - список меток для доступа к элементам Series. Длина должна быть равна длине data
# dtype - определяет тип данных
# copy - создает копию массива
# в большинстве случаев используются два первых параметра (data и index). Ниже описание:
# Синтаксис: pd.Series = (['элементы Series через запятую, каждый в кавычках '], 
#                          index = ['желаемые индексы. Если не указать, то Python сам присвоит от 0 и до N'])

# data.index #Вывести список индексов Series
# data[index] # обращение к элементу Series по индексу. Или номер или указанный индекс при задании. Например:
# data[]
# data['First'] # В обоих случаях результат один


# data.loc[] # .loc принимает определённые метки из индекса. В него можно передать как один указатель, так и массив.
# data.iloc[] # .iloc принимает на вход порядковые номера элементов Series. 
# data.loc[['First','Second']] # Если надо вывести более одного, то указываем через запятую индексы
# Можно опустить и писать просто data[] с указанием индекса, при обращении к нужному элементу 


# display(data) # display выводит таблицу Pandas, в отличии от print

First      January
Second    February
Third        March
Four         April
dtype: object

In [ ]:
                                            # DataFrame
# DataFrame представляет из себя таблицу. Столбцами выступают Series, строки которых являются элементами DataFrame 
# Самый простой вариант создания DataFrame из словаря:
import pandas as pd
# df = pd.DataFrame({'col1': [1,2], 'col2': [3,4]})
# display(df)

# Синтаксис DataFrame: pd.DataFrame(data = None, index = None, columns = None, dtype = None, copy = False)
# data - массив ndarrayб словарь (dict) или другой DataFrame
# index - список меток для записей (строки таблицы)
# columns - список меток для полей (имена столбцов)

# Вариант создания из списков:
# df_list = pd.DataFrame([[1,2,3], [ 3,2,1]], # стобцы
#                      columns = ['d', 'f', 'c'],  #наименование столбцов
#                       index = ['a', 'b'])  # наименование строк
# display(df_list)

# Вариант создания из словаря:
df_dict = pd.DataFrame({'price': pd.Series([1,2,3], index = ['a', 'b', 'c']),
                       'count': pd.Series([3,4,5], index = ['a', 'b', 'c'])})

# display(df_dict)

# Операции с DataFrame
# df_dict[col] - обращение к столбцу. Возвращает Series
# df_dict.loc[label] - обращение по метке строки. Возвращает Series
# df_dict.iloc[index] - обращение по индексу. Возвращает Series. Аналогично методу .loc
# df_dict[:n] - срез по строкам. Возаращает DataFrame
# df_dict[bool] - выбор строк по условию. К примеру df_dict[df_dict['price']>1]

In [ ]:
              #Объекты Pandas: read_csv (чтение данных из файлов)
import pandas as pd
# В случае необходимости считать данные из файла и привести их в форму DataFrame - использовать надо read_csv
# pd.read_csv('Полный_путь_к_файлу/название_файла.csv') - Функция возвращает DataFrame

# Дополнительные параметры:
# sep — разделитель данных, по умолчанию ',';
# decimal — разделитель числа на целую и дробную часть, по умолчанию'.';
# names — список с названиями колонок, не обязательный параметр;
# skiprows — если файл содержит системную информацию, можно просто её пропустить. Не обязательный параметр.

df = pd.read_csv('data_sf.xls')
# display(df)

# head - используется, как доп параметр, для отображения начала таблицы. К примеру display(df.head(5)) - 5 первых
# tail - используется, как доп параметр, для отображения конца таблицы. К примеру display(df.tail(5))- 5 последних

In [ ]:
#                            Индексация и извлечение данных


# df.info() - детальную информацию о колонках DataFrame

# дополнительные параметры .info(). По умолчанию True 
# verbose: печатать ли информацию о DataFrame полностью
# memory_usage: печатать ли потребление памяти 
# null_counts: подсчитывать ли количество пустых элементов 

# df.describe() - выводит основные статистические параметры DataFrame
# df.describe(include = ['object']) - статистика по нечисловым параметрам.

# Если надо вывести не обрезанную информацию, то:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
#     display(df.describe())

# Методы применяемые к DataFrame, для получения отдельных статистических параметров
# (К каждому методу может быть передан параметр: 
#                       axis - для подсчета по строкам или столбцам
#                       numeric_only - определяет, вычислять параметры только по числовым столбцам/строкам или нет
# .max()	Максимум
# .min()	Минимум
# .mean()	Среднее значение
# .sum()	Сумма
# .count()	Количество непустых элементов
# .std()	Стандартное отклонение
# df.max() - к примеру

In [ ]:
#                               Извлечение данных из DataFrame по условиям
import pandas as pd

df = pd.read_csv('data_sf.xls')
# Примеры:
# df[df.Age>20] - внутри квадратных скобок условие
# df[df.Age < df.Age.mean()] - вывод данных по условию сравнения

# Статистические параметры можно посчитать по отфильтрованному DataFrame.
# df[df.Age == 20].Wage.mean() - среднее значение зарплаты игроков возраста 20 лет.

In [ ]:
#                                    Группировка данных DataFrame

# Данные можно представить себе как последовательность каких-то единичных наблюдений. 
# Например, в нашем датасете единичное наблюдение — это конкретный футболист.

# каждое наблюдение имеет атрибуты: категориальные (строки) или численные (значения)

# Группировка подразумевает разделение по какому либо принаку и дальнейшее применение агрегирующей функциию,
# т.е. вычисление какого либо показателя. 

# Для примера групировки возьмем небольшой фрагмент
df = pd.read_csv('data_sf.xls')

small_df = df[df.columns[1:8]].head(25) # - сортировка с первого по восьмой столбец и вывод первых 25 строк.
# display(small_df)
# Оценим сколько футболистов относятся к каждой из национальностей

# Каждая строка датафрейма содержит информацию об отдельно взятой позиции, то посчитаем сколько раз встречается
# каждая национальность

s = small_df['Nationality'].value_counts()
s.index # - список уникальных значений

# value_counts() - функция подсчитывает для каждого значения в серии количество повторений. Возвращает серию.

# использование normalize = True, в качестве параметра для value_counts() выводит инфу в процентах от общего кол-ва
# display(small_df['Nationality'].value_counts(normalize = True))

#                                  Группировка по численному признаку

# Параметр bins используется для value_count(), чтоб распределить значения по числовым признакам.
# bins указывает на число "корзин"-диапазонов, в которые будут распределены значения из DataFrame

# Пример:

# small_df[small_df.Age > 20].Wage.value_counts(bins = 5) # - распределение по дипазонам зарплат игроков > 20 лет
s = small_df['Wage'].value_counts(bins = 4) # распределение з/п всех игроков по четырем диапазонам
display(s)
# Проверим, что за ногомячисты получают много денег
small_df.loc[(small_df['Wage'] > s.index[3].left)&(small_df['Wage'] <= s.index[3].right)]

In [ ]:
#                                    Функции unique и nunique

# используются для подсчета количества уникальных значений

# s = small_df['Nationality'].value_counts() # фильтр DataFrame по национальности
# print(s.index) #вывод списка отфильтрованных уникальных значений
# print(len(s.index)) # длина списка = количеству значений

# s = small_df['Nationality'].nunique() # nunique выводит количество уникальных значений
# s = small_df['Nationality'].unique() # unique выводит список уникальных наименований
# print(s)

In [ ]:
#                               Преобразование value_counts в DataFrame

# функция value_counts() возвращает Series
s = small_df['Nationality'].value_counts()
# Для дальнейшей работы  иногда необходимо преобразовать полученный результат назад в DataFrame
s_df = s.reset_index()
display(s_df)
# именование столбцов DataFrame
s_df.columns = ['Nationality','Numbers']
print(s_df)

In [ ]:
#                             Группировка данных. Функция groupby

#______________________________________________________________________________________________
# Общий вид группировки
# df.groupby(столбец_для_группировки)[столбцы_для_отображения].agg(['функция_1', 'функция_2'])
#______________________________________________________________________________________________


# Предположим надо найти клуб с самой высокой суммарной ЗП.
df.groupby(['Club']).groups # на вход передается столбец, по которому выполняется группировка
#  Это объект группировки, он хранит в себе информацию о том, какие строки датафрейма 
# (по индексным номерам) соответствуют определенной группе (в нашем случае определенному клубу)
# Пример: FC Köln соответствуют следующие строки: 166, 379, 899, 1399, 3415, 6904, 7052, 8892, 12171, 12376.

grouped_df = df.groupby(['Club']).sum()
# display(grouped_df) #Получился датафрейм, где все параметры, к которым можно было применить соответствующую агрегирующую функцию, 
# были просуммированы.Если точнее, были просуммированы все численные параметры

# display(grouped_df.loc['Ajax']) #отображаем данные по конкретному клубу, по индексу строки. Получаем серию.
# display((grouped_df.loc['Ajax']['Wage'])) #сумма ЗП всех игроков

#важно помнить, что суммировать надо только информативную метрику. К примеру нет смысла в сумме возрастов.

grouped_df = df.groupby(['Club'])['Wage'].sum().sort_values(ascending = False) #сотритуем по ЗП. У кого самая большая сумма ЗП
# Параметр ascending = False указывает на сортировку по убыванию
print(grouped_df)

In [ ]:
#                                             Ещё примеры группировки данных
# Функция среднего значения mean()

# df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean()
# среднее значение для каждой найиональности по параметрам 'Wage','Age','ShotPower'

df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'], ascending = False).head(10) #видим, что среднее
# самое высокое в Доминикане

display(df.loc[df['Nationality']=='Dominican Republic']) # проверяем почему. Всего два чела с большим разбросом ЗП

In [ ]:
#                                       Агрегирующие функции nunique(), count(), median(), max(), min()

# Функция nunique, которая позволяет посчитать количество уникальных значений по серии. 
# Её лучше всего применять к тем колонкам датафрейма, в которых хранятся категорийные данные:

# df.groupby(['Nationality'])[['Club','Name']].nunique().head(10)

# Функция count, с помощью которой можно посчитать количество элементов в группе.

# df.groupby(['Club'])['Name'].count()

#Функция median, с помощью которой можно посчитать медианное значение:

# df.groupby(['Club'])['Dribbling'].median()

#Функция max, с помощью которой можно посчитать максимальное значение внутри группы:

# df.groupby(['Club'])['Strength'].max()

# Функция min, с помощью которой можно посчитать минимальное значение внутри группы:

# df.groupby(['Club'])['Balance'].min()

In [ ]:
#                 Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из разных клубов (Club). 
#               В скольких клубах средняя и медианная зарплаты совпадают?

group = df.groupby(['Club'])['Wage'].agg(['mean', 'median'])

#  Каков максимальный размер средней зарплаты в этой группе клубов?
#  Как называется клуб, где игроки получают такую зарплату?

sorted = (group[group['median'] == group['mean']])
# display(sorted)
sorted[sorted['mean'] == 13000.0]

In [ ]:
# С помощью функции groupby посчитайте сумму зарплат (Wage) футболистов клуба (Club) "Chelsea".
group = df.groupby(['Club'])['Wage'].sum()
group['Chelsea']

In [ ]:
# Определите max (min) зарплату футболиста национальности (Nationality) Аргентина ("Argentina") в возрасте 20 (30) лет.
df[(df.Age == 30) & (df.Nationality == 'Argentina')].Wage.min()

In [ ]:
# Определите максимальную силу (Strength) и баланс (Balance) 
# среди игроков клуба (Club) "FC Barcelona" из Аргентины ("Argentina"). 
# Ответ введите через точку с запятой без пробела.

df[(df.Nationality == 'Argentina')&(df.Club == 'FC Barcelona')][['Strength','Balance']].max()

In [ ]:
#                                           Сводные таблицы
# Сводная таблица обычно содержит строки, колонки и поля данных. В этом случае столбец — Club, строка — Nationality. 
# Нужные нам данные — это сумма зарплат (sum по колонке Wage).
# Сводные таблицы допускают несколько видов функций агрегации, включая суммирование, нахождение среднего, 
# стандартное отклонение, количество элементов и другие. 
# Всё зависит от поставленной задачи:

#                                        Функция pivot_table

pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum')
# позволяет отфильтровать датафрейм по колонке Club, 
# где значение в колонке соответствует одному из перечисленных в массиве клубов.
#  В параметр values мы передаем ту колонку, по которой нам нужно строить сводные данные, применяя агрегирующую функцию сумма.
#  В параметр index передадим ту колонку, данные которой будут представлены строками сводной таблицы.
#  В параметр columns передаем колонку, значения которой будут в столбцах.
#  В параметр aggfunc передаем агрегирующую функцию. 
#  Для того, чтобы добавить столбец и строку с итоговыми значениями, нужно добавить параметр margins=True:

display(pivot)

In [ ]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'], index = ['Nationality'],
                                columns = ['Club'],
                                aggfunc = 'sum',
                                 margins = True,                                                                           
                                fill_value = 0)  
                                                # margins = True используется для вывода общего значения в конце таблицы 
                                                # fill_value используется для заполнения отсутствующих значений NaN
# df.loc[df['Club'].isin(['Real Madrid'])] фильтрует DataFrame по колонке Club, где значение соответствует названию клуба
# .pivot_table(values=['Wage'], index = ['Nationality'],
#                                 columns = ['Club'],
#                                 aggfunc = 'sum')
#  параметр Values - та колонка, по которой строим сводные данные
#  параметр index - колонка, данные которой будут представлены строками сводной таблицы
#  параметр columns - колонка, значения которой будут в столбцах
#  параметр aggfunc - агрегирующая функция.
display(pivot)

pivot.loc['Belgium'] # выводим строку Belgium

In [ ]:
#                                         Еще примеры сводных таблиц
# функция count для подсчета количества футболистов по клубам и национальностям

pivot = df.loc[df.Club.isin(['FC Barcelona', 'Real Madrid', 'Juventus',
                             'Manchester United'])].pivot_table(values = ['Name'], #колонка по которой сводные данные
                                                    index = ['Nationality'], # будет строками
                                                    columns = ['Club'],  # то, что будет в столбцах
                                                    aggfunc = 'count',  #агрегирующая функция
                                                    fill_value = 0)   # заполнение NaN значений


display(pivot)
pivot.loc['Argentina']['Name']['Manchester United'] #обращение к элеиенту сводной таблицы

In [100]:
#                                                  Задание 6.13
# Создайте сводную таблицу, содержащую сведения о количестве игроков, занимающих разные позиции в каждом клубе. 
#Отсутствующие значения замените нулями.

#Каково среднее количество вратарей (GK) в клубе? Ответ округлите до трёх цифр после запятой.

pivot = df.pivot_table(values = 'Name', index = 'Position', columns = 'Club', aggfunc = 'count', fill_value = 0)
# display(pivot)
pivot.loc['GK'].mean()

# Используя таблицу, созданную на предыдущем шаге, определите, сколько клубов не содержат данных о центральных 
# полузащитниках. (CM)

# Подсказка: для выполнения этого задания желательно сохранить сводную таблицу в виде отдельного датафрейма 
# и сгруппировать часть данных этого датафрейма с помощью value_counts().

pivot.loc['CM'].value_counts()

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: CM, dtype: int64

In [201]:
#                                                  Задание 6.14

#С помощью сводной таблицы и функции loc посчитайте, 
#сколько получают ("Wage") русские футболисты ("Russia"), играющие за ФК "AS Monaco".

print('Задание №1')
table = df.pivot_table(values = 'Wage', index = 'Nationality', columns = 'Club', aggfunc = 'max', fill_value = 0)
# display(table)
display(table.loc['Russia']['AS Monaco'])

print('Задание №2')
#Создайте сводную таблицу, содержащую сведения о средней скорости футболистов, 
#занимающих разные позиции (Position) в разных футбольных клубах (Club).

#Основываясь на данных таблицы, отметьте три позиции, представители которых в среднем обладают самой высокой скоростью.

table = df.pivot_table(values = "SprintSpeed", index = 'Position', columns = 'Club', aggfunc = 'mean', fill_value = 0 )
display(table)

group = df.groupby(['Position']).SprintSpeed.mean().sort_values(ascending = False)
display(group)

print('Задание №3')
# Используя таблицу, созданную на предыдущем шаге, отметьте названия трёх клубов, 
# в которых центральные форварды (ST) обладают наибольшей средней скоростью.

table.loc['ST'].sort_values(ascending = False)

Задание №1

61000

Задание №2

Club,SSV Jahn Regensburg,1. FC Heidenheim 1846,1. FC Kaiserslautern,1. FC Köln,1. FC Magdeburg,1. FC Nürnberg,1. FC Union Berlin,1. FSV Mainz 05,AC Ajaccio,AC Horsens,...,Wycombe Wanderers,Yeni Malatyaspor,Yeovil Town,Yokohama F. Marinos,Zagłębie Lubin,Zagłębie Sosnowiec,Çaykur Rizespor,Örebro SK,Östersunds FK,Śląsk Wrocław
Position,,,,,,,,,,,,,,,,,,,,,
CAM,0.000000,68.000000,0.000000,0.0,0.000000,66.000000,61.0,0.0,71.333333,0.000000,...,0.000000,71.500000,0.00,70.333333,0.000000,73.000000,74.000000,0.000000,67.000000,0.000000
CB,46.600000,61.333333,59.000000,60.0,60.000000,55.000000,59.0,71.5,46.000000,53.333333,...,64.666667,62.000000,54.00,45.250000,0.000000,46.500000,58.000000,60.750000,76.000000,62.000000
CDM,82.000000,0.000000,65.666667,32.0,0.000000,59.000000,66.5,0.0,0.000000,56.000000,...,0.000000,65.666667,0.00,61.000000,54.000000,66.000000,62.800000,0.000000,0.000000,66.666667
CF,0.000000,0.000000,0.000000,0.0,64.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,77.000000,0.000000
CM,61.000000,68.000000,0.000000,68.5,0.000000,53.000000,72.0,69.0,77.000000,62.500000,...,66.500000,64.000000,67.00,67.000000,55.000000,0.000000,0.000000,63.000000,56.333333,72.000000
GK,33.000000,41.000000,42.666667,33.0,39.333333,40.000000,32.0,40.0,46.000000,34.333333,...,44.500000,33.250000,37.00,27.750000,44.666667,39.000000,47.000000,33.666667,32.666667,30.666667
LAM,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
LB,76.000000,60.000000,68.000000,0.0,69.000000,65.000000,70.5,69.0,67.666667,66.000000,...,75.000000,75.000000,57.00,70.000000,72.000000,60.333333,75.500000,0.000000,74.500000,78.500000
LCB,0.000000,55.000000,45.000000,0.0,60.000000,0.000000,53.0,0.0,52.000000,57.000000,...,45.000000,0.000000,44.00,0.000000,33.000000,61.000000,63.000000,58.000000,53.000000,59.000000
LCM,0.000000,0.000000,0.000000,0.0,66.000000,0.000000,0.0,64.0,0.000000,76.000000,...,65.000000,0.000000,70.00,72.000000,0.000000,0.000000,0.000000,44.000000,62.000000,0.000000
LDM,55.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,64.000000,0.000000,...,0.000000,67.000000,0.00,0.000000,70.000000,74.000000,61.000000,0.000000,0.000000,60.000000
LF,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
LM,76.000000,69.500000,70.500000,0.0,0.000000,0.000000,0.0,0.0,72.000000,70.500000,...,0.000000,70.000000,83.50,70.000000,66.000000,74.250000,58.000000,0.000000,73.500000,72.000000
LS,0.000000,0.000000,85.000000,0.0,86.000000,0.000000,0.0,0.0,0.000000,77.000000,...,49.000000,0.000000,81.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55.000000
LW,0.000000,0.000000,80.000000,0.0,0.000000,0.000000,0.0,74.0,0.000000,0.000000,...,80.666667,0.000000,0.00,77.000000,0.000000,0.000000,0.000000,68.333333,0.000000,0.000000
LWB,0.000000,0.000000,0.000000,77.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,68.000000,0.000000,0.000000
RAM,78.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
RB,68.500000,80.500000,71.500000,70.0,0.000000,75.000000,86.0,79.0,67.000000,78.000000,...,76.500000,70.500000,69.50,68.500000,69.500000,68.000000,68.666667,0.000000,54.000000,50.500000
RCB,57.000000,59.000000,0.000000,0.0,68.000000,0.000000,0.0,0.0,75.000000,57.000000,...,65.000000,0.000000,59.00,0.000000,50.000000,58.000000,0.000000,62.000000,73.000000,58.000000
RCM,0.000000,0.000000,0.000000,0.0,71.000000,0.000000,0.0,0.0,0.000000,63.000000,...,87.000000,0.000000,76.00,72.000000,0.000000,0.000000,0.000000,66.000000,0.000000,0.000000
RDM,65.000000,0.000000,55.000000,0.0,0.000000,0.000000,0.0,0.0,60.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,61.000000,62.000000,32.000000,0.000000,0.000000,69.000000
RF,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
RM,0.000000,78.333333,82.500000,77.0,76.000000,83.000000,0.0,0.0,71.000000,61.000000,...,87.000000,87.000000,78.20,61.000000,75.000000,71.000000,85.000000,0.000000,85.000000,68.000000
RS,0.000000,0.000000,69.000000,0.0,53.000000,0.000000,0.0,86.0,0.000000,81.000000,...,69.000000,0.000000,77.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,81.000000
RW,0.000000,0.000000,0.000000,0.0,80.500000,0.000000,0.0,0.0,0.000000,0.000000,...,86.000000,0.000000,0.00,65.000000,0.000000,0.000000,0.000000,77.500000,67.000000,0.000000
RWB,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,72.000000,0.000000,0.000000
ST,61.666667,69.000000,79.000000,0.0,44.000000,65.666667,0.0,69.0,66.000000,52.500000,...,82.000000,57.500000,74.75,68.666667,65.250000,75.000000,48.000000,72.200000,52.000000,54.000000

Position
RF     76.333333
LAM    76.333333
LF     75.875000
RW     75.417722
RM     74.943864
LW     74.747934
LM     74.211538
RAM    73.800000
RWB    73.128571
LWB    72.833333
LS     72.338843
RS     71.991228
RB     71.186709
LB     70.718563
CF     69.803922
ST     68.700397
CAM    68.236967
LCM    65.334764
RCM    65.233333
CM     64.299906
RDM    62.152174
LDM    62.006757
CDM    60.813314
LCB    58.936430
RCB    58.239234
CB     57.734854
GK     37.622182
Name: SprintSpeed, dtype: float64

Задание №3

Club
 SSV Jahn Regensburg     61.666667
1. FC Heidenheim 1846    69.000000
1. FC Kaiserslautern     79.000000
1. FC Köln                0.000000
1. FC Magdeburg          44.000000
                           ...
Zagłębie Sosnowiec       75.000000
Çaykur Rizespor          48.000000
Örebro SK                72.200000
Östersunds FK            52.000000
Śląsk Wrocław            54.000000
Name: ST, Length: 650, dtype: float64