In [ ]:
# import numpy as np
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
import os
from collections import Counter
df = pd.read_csv('data.csv')
df['profit'] = df.revenue - df.budget # в DF добавляем колонку с расчитанным доходом/расходом. Для дальнейшего использования
df[df.profit == df.profit.max()]
df.info()

In [ ]:
df = pd.read_csv('data.csv')
df.info

In [ ]:
# У какого фильма из списка самый большой бюджет?


df[df.budget == df.budget.max()]
# ответ The Warrior's Way

In [ ]:
# Какой из фильмов самый длительный (в минутах)?

df[df.runtime == df.runtime.max()]
# ответ Gods and Generals

In [ ]:
# Какой из фильмов самый короткий (в минутах)?

df[df.runtime == df.runtime.min()]
# ответ Winnie the Pooh

In [ ]:
# Какое число ближе к средней длительности фильма в датасете?

df.runtime.mean()
# ответ 110

In [ ]:
# Какое число ближе к медианной длительности фильма в датасете?

df.runtime.median()
# ответ 106

In [ ]:
# Какой самый прибыльный фильм?
#  Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма.

df['profit'] = df.revenue - df.budget # в DF добавляем колонку с расчитанным доходом/расходом. Для дальнейшего использования
df[df.profit == df.profit.max()]

# ответ Avatar

In [ ]:
# Какой фильм самый убыточный?

df[df.profit == df.profit.min()]
# ответ The Warrior's Way

In [ ]:
# У скольких фильмов из датасета объем сборов оказался выше бюджета?

df[df.profit > 0].original_title.count() #считаем количество фильмов с доходом больше 0

# ответ 1478

In [ ]:
# Какой фильм оказался самым кассовым в 2008 году?

reven = df[df.release_year == 2008].revenue.max() # определяем размер максимальной кассы фильмов из 2008
df[df.revenue == reven] # извлекаем данные по условию

# ответ The Dark Knight

In [ ]:
# Самый убыточный фильм за период с 2012 по 2014 гг. (включительно)?

df[df.profit == (df.query('2012 <= release_year <= 2014').profit.min())] # сортируем по году и максимальному убытку
# ответ The Lone Ranger

In [ ]:
# Какого жанра фильмов больше всего?
import collections

genres = df.genres.str.split('|')

genre = Counter()

for gen in genres:
    genre += Counter(gen)
genre.most_common()
# ответ ('Drama', 782)

In [ ]:
# Какого жанра среди прибыльных фильмов больше всего?

profit_movies = df[df.profit > 0]
profit_movies
genres = profit_movies.genres.str.split('|')
genre = Counter()

for gen in genres:
    genre += Counter(gen)
genre.most_common()
# ответ ('Drama', 560)

In [ ]:
# Кто из режиссеров снял больше всего фильмов?
df['director'].value_counts()
# ответ Steven Soderbergh  13

In [ ]:
# Кто из режиссеров снял больше всего прибыльных фильмов?
profit_movies = df[df.profit > 0]
profit_movies
profit_movies.director.value_counts()
# ответ Ridley Scott 12

In [ ]:
# Кто из режиссеров принес больше всего прибыли?
df1 = pd.pivot_table(df, values = 'profit', 
                     index = 'director', 
                     aggfunc = sum).sort_values('profit', ascending = False).head(1)
df1.index
# ответ Peter Jackson	5202593685

In [ ]:
# Какой актер принес больше всего прибыли?
df_cast = pd.DataFrame(df.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns = ['row_index','row2','cast']
df_cast['profit_cast'] = df_cast.row_index.apply(lambda x : df.iloc[x]['profit'])
table = pd.pivot_table(df_cast, values = 'profit_cast', 
                       index = 'cast', 
                       aggfunc = sum).sort_values('profit_cast', ascending = False)
table

# ответ Emma Watson

In [ ]:
#  Какой актер принес меньше всего прибыли в 2012 году?
df_year = df[df.release_year == 2012]
# display(df_year)
df_cast = pd.DataFrame(df_year.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns = ['row_index','row2','cast']
# display(df_cast)
df_cast['Profit_cast'] = df_cast.row_index.apply(lambda x:df_year.iloc[x]['profit'])
df_cast['Year'] = df_cast.row_index.apply(lambda x: df_year.iloc[x]['release_year'])
# display(df_cast)

table = pd.pivot_table(df_cast, values = 'Profit_cast', index = 'cast', aggfunc = sum).sort_values('Profit_cast', ascending = True)
table

# Ответ: Kirsten Dunst	-68109207

In [ ]:
# Какой актер снялся в большем количестве высокобюджетных фильмов? 
# Примечание: в фильмах, где бюджет выше среднего по данной выборке
# display(df.budget.mean())
# display(df.budget.min())
# display(df.budget.max())
df_budget = df[df.budget > df.budget.mean()]
# display(df_budget)
df_cast = pd.DataFrame(df_budget.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns = ['1','2','cast']
df_cast.cast.value_counts()

# ответ: Matt Damon  18

In [ ]:
# В фильмах какого жанра больше всего снимался Nicolas Cage?

df_cast = pd.DataFrame(df.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns = ['raw_index','index','cast']

df_cast['genre'] = df_cast.raw_index.apply(lambda x: df.iloc[x]['genres'])
df_cage = df_cast[df_cast.cast == 'Nicolas Cage']
display(df_cage)
df_genre = pd.DataFrame(df_cage.genre.str.split('|').tolist()).stack().reset_index()

df_genre.columns = ['1','2','genre']



df_genre.genre.value_counts()

# ответ: Action

In [ ]:
# Какая студия сняла больше всего фильмов?

df.head(1)
df_company = pd.DataFrame(df.production_companies.str.split('|').tolist()).stack().reset_index()
df_company.columns = ['1','2','company']

df_company.company.value_counts()

# ответ: Universal Pictures 173

In [ ]:
# Какая студия сняла больше всего фильмов в 2015 году?
df_year = df[df.release_year == 2015]
# display(df_year)
df_company = pd.DataFrame(df_year.production_companies.str.split('|').tolist()).stack().reset_index()
display(df_company)
df_company.columns = ['1','2','company']
df_company.company.value_counts()

# ответ: Warner Bros.  12

In [ ]:
# Какая студия заработала больше всего денег в жанре комедий за все время?
# df.info()
# 

# df_company = df
df_company = pd.DataFrame(df.production_companies.str.split('|').tolist()).stack().reset_index()
df_company.columns = ['common_index', 'index','company']
df_company['genres'] = df_company.common_index.apply(lambda x: df.iloc[x]['genres'])
df_genres = pd.DataFrame(df_company.genres.str.split('|').tolist()).stack().reset_index()
df_genres.columns = ['common_index', 'index', 'genre']
df_company.drop(['genres'], axis = 1, inplace = True)
df_common = df_company.merge(df_genres, on = 'common_index')

df_common[df_common.genre == 'Comedy'].company.value_counts()

# Ответ: Universal Pictures

In [ ]:
# Какая студия заработала больше всего денег в 2012 году?
df_comp = df[df.release_year == 2012]
df_company = pd.DataFrame(df_comp.production_companies.str.split('|').tolist()).stack().reset_index()

df_company.columns = ['raw_index','index','company']


df_company['profits'] = df_company.raw_index.apply(lambda x: df.iloc[x]['profit'])


table = pd.pivot_table(df_company, values = 'profits', 
                       index = 'company', aggfunc = sum).sort_values('profits', ascending = False)

table
# ответ Columbia Pictures	2501406608

In [ ]:
# Самый убыточный фильм от Paramount Pictures?
# display(df)
df_paramount = pd.DataFrame(df.production_companies.str.split('|').tolist()).stack().reset_index()

df_paramount.columns = ['raw_index','index','company']
df_paramount['movie'] = df_paramount.raw_index.apply(lambda x: df.iloc[x]['original_title'])
df_paramount['profit']=df_paramount.raw_index.apply(lambda x: df.iloc[x]['profit'])
df_paramount
df_paramount.query('company in ["Paramount Pictures"]').sort_values('profit',ascending = True)
# df_paramount[df_paramount.company == 'Paramount Pictures']

# ответ: K-19: The Widowmaker

In [ ]:
# Какой самый прибыльный год (в какой год студии заработали больше всего)?
# df.groupby(столбец_для_группировки)[столбцы_для_отображения].agg(['функция_1', 'функция_2'])

group = pd.DataFrame(df.groupby('release_year')['profit'].agg([sum]))

display(group)



# ответ: 2015

In [ ]:
# Какой самый прибыльный год для студии Warner Bros?
# df.info()
df_warner = pd.DataFrame(df.production_companies.str.split('|').tolist()).stack().reset_index()
df_warner.columns = ['raw_index','index','company']

df_warner['profit']=df_warner.raw_index.apply(lambda x: df.iloc[x]['profit'])
df_warner['year'] = df_warner.raw_index.apply(lambda x: df.iloc[x]['release_year'])

df_wb = df_warner[df_warner.company.str.contains('Warner Bros.')]



group = pd.DataFrame(df_wb.groupby('year')['profit'].sum())
# grouped=pd.DataFrame(group)
# display(group)

group[group.profit == group.profit.max()]

In [186]:
# В каком месяце за все годы суммарно вышло больше всего фильмов?

df_release = df[['original_title','release_year','release_date']]


df_release['release_date'] = pd.to_datetime(df_release.release_date)
df_release['month'] = df_release.release_date.dt.strftime('%B')

df_release['month'].value_counts()


# ответ: сентябрь

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

September    227
December     191
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: month, dtype: int64

In [ ]:
# Сколько суммарно вышло фильмов летом (за июнь, июль, август)

df_release = df[['original_title']]
df['release_date'] = pd.to_datetime(df.release_date)

df_release['month'] = df.release_date.dt.strftime('%B')

len(df_release[(df_release.month == 'June') | ((df_release.month == 'July') | (df_release.month == 'August'))])

# ответ: 450

In [ ]:
# Какой режиссер выпускает (суммарно по годам) больше всего фильмов зимой?
# dt.strftime('%B')

df_director = df
df_director['release_date'] = pd.to_datetime(df_director.release_date)

df_director['month'] = df_director.release_date.dt.strftime('%B')
df_director.head(1)

df_director = df_director.query('month in ["December","January","February"]')
df_director['director'].value_counts()


# ответ Peter Jackson

In [ ]:
# Какой месяц чаще всего самый прибыльный в году?


df_profit = df
df_profit['release_date'] = pd.to_datetime(df.release_date)
df_profit['month'] = df.release_date.dt.strftime('%B')
df_profit
table = pd.pivot_table(df_profit, values = 'profit', 
                       index = 'month', aggfunc = 'sum').sort_values('profit', ascending = False)

table
    
# ответ: June

In [ ]:
# Названия фильмов какой студии в среднем самые длинные по количеству символов?


df_movie = pd.DataFrame(df.production_companies.str.split('|').tolist()).stack().reset_index()

df_movie.columns = ['common_index','index','company']
df_movie['title'] = df_movie.common_index.apply(lambda x: df.iloc[x]['original_title'])

df_movie['lenght'] = df_movie.common_index.apply(lambda x: len(df.iloc[x]['original_title']))

table = pd.pivot_table(df_movie, 
                       values = 'lenght', 
                       index = 'company', aggfunc = 'mean').sort_values('lenght',ascending = False)

table

# ответ: Four By Two Productions	83.0

In [ ]:
# Названия фильмов какой студии в среднем самые длинные по количеству слов?

df_movie = pd.DataFrame(df.production_companies.str.split('|').tolist()).stack().reset_index()
df_movie.columns = ['common_index','index', 'company']
df_movie['movie'] = df_movie.common_index.apply(lambda x: df.iloc[x]['original_title'])

# movies = pd.DataFrame(df_movie['movie'])

df_movie['numbers_of_words'] = df_movie.movie.apply(lambda x: len(x.split(' ')))

# display(df_movie)

df_movie[df_movie.numbers_of_words == df_movie.numbers_of_words.max()]

table = pd.pivot_table(df_movie, values = 'numbers_of_words', 
                       index = 'company', aggfunc = 'mean').sort_values('numbers_of_words', ascending = False)
table


# ответ: Four By Two Productions	12.0

In [ ]:
# Сколько разных слов используется в названиях фильмов (без учета регистра)?

df_movie = pd.DataFrame(df.original_title.str.lower())

df_movie = pd.DataFrame(df_movie.original_title.str.split(' ').tolist()).stack().reset_index()
df_movie.columns = ['common_index', ' index', 'word']
df_movie.word.nunique()

# ответ: 2462

In [ ]:
# Какие фильмы входят в 1 % лучших по рейтингу?
df.head(1)
df_ratings = df
df_ratings = df_ratings[['original_title','vote_average']].sort_values('vote_average', ascending = False)
df_ratings.columns = ['title','ratings']

df_ratings[df_ratings['ratings'] > df_ratings.quantile(0.99, numeric_only=True)['ratings']]

# df_ratings

In [ ]:
# Какие актеры чаще всего снимаются в одном фильме вместе?

import itertools as its
df_actor = df

df_actor['actor_list'] = pd.DataFrame(df.cast.str.split('|'))

# df_actor['pairs_list']
df_final = pd.DataFrame(df_actor['actor_list'].apply(lambda x: Counter(its.combinations(x, 2))))
display(df_final.actor_list.sum().most_common())

# ответ: ('Daniel Radcliffe', 'Rupert Grint'), 8)
# df_list

In [173]:
# У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?
# df.info()

data_director = pd.DataFrame(df.director.str.split('|').tolist()).stack().reset_index()

data_director.columns = ['common_index','index','director']

data_director['movie'] = data_director.common_index.apply(lambda x: df.iloc[x]['original_title'])

# data_director['movie'].value_counts()

data_director['profit'] = data_director.common_index.apply(lambda x: df.iloc[x]['profit'])

# display('data_director', data_director) # good


all_movies = pd.DataFrame(data_director['director'].value_counts())

all_movies = all_movies[all_movies.director > 7]


display('all_movies',all_movies) # good

data_sorted = data_director[data_director.profit >= 0]
# display('data_sorted', data_sorted) # goof

profit_movies = pd.DataFrame(data_sorted['director'].value_counts())


profit_movies = profit_movies[profit_movies.director > 7]
display('profit_movies',profit_movies)

result = profit_movies.div(all_movies)

display('result',result[result.director == result.director.max()])

# ответ: Christopher Nolan

'all_movies'

                    director
Steven Soderbergh         13
Clint Eastwood            12
Ridley Scott              12
Robert Rodriguez          11
Peter Farrelly            10
Steven Spielberg          10
Shawn Levy                10
Bobby Farrelly             9
Tim Burton                 9
Brett Ratner               8
M. Night Shyamalan         8
Gore Verbinski             8
Peter Jackson              8
Adam Shankman              8
Antoine Fuqua              8
Michael Bay                8
Ron Howard                 8
Todd Phillips              8
Christopher Nolan          8

'profit_movies'

                   director
Ridley Scott             12
Clint Eastwood           10
Steven Spielberg         10
Steven Soderbergh        10
Shawn Levy                9
Tim Burton                9
Peter Farrelly            8
Robert Rodriguez          8
Brett Ratner              8
Antoine Fuqua             8
Christopher Nolan         8
Peter Jackson             8
Michael Bay               8

'result'

                   director
Antoine Fuqua           1.0
Brett Ratner            1.0
Christopher Nolan       1.0
Michael Bay             1.0
Peter Jackson           1.0
Ridley Scott            1.0
Steven Spielberg        1.0
Tim Burton              1.0

In [ ]:
df[df.director == 'Steven Soderbergh']