In [ ]:
# Основные тезисы раздела 8. Предобработка данных
#     read_csv с дополнительными параметрами
#     df.columns
#     df.column.unique()
#     df.info()
#     df[df.column > X]
#     df.query('X<A<Y & B==Z')
#     df[df.column.str.contains("string")]
#     df[~df.column.str.contains("string")]
#     df.apply(lambda x)
#     df.apply (func)
#     df['new_column'] = df.old_column.apply(func)

In [ ]:
import pandas as pd

log = pd.read_csv('log.xls', header = None)
log.columns = ['user_id','time','bet','win']
log.user_id.unique()

In [ ]:
users = pd.read_csv('users.xls', encoding='koi8_r', sep='\t')
users.columns = ['user_id','email','geo']
users

In [ ]:
log_win  = log[log.win > 0]
win_count = log_win.user_id.count()

In [ ]:
#                                               Функция Query
# sample.query('Age>20')
# sample.query('Age==25')
# sample.query('City in ["Рига","Сочи"]')
# sample.query('City in ["Рига", "Сочи","Чебоксары", "Сургут"] & 21<Age<50 & Profession!="Менеджер"')

# найдите тех, у кого ставка меньше 2000, а выигрыш больше 0. Сохраните в новый датафрейм log2.
log2 = log.query('bet<2000 & win>0')
log2

In [ ]:
#                                   Функции str.match и str.contains

# str.match ("abc") — ищет строки, которые начинаются c abc,
# str.contains ("abc") — ищет строки, в которых есть abc.

# Обе функции не могут работать с NaN, необходимо использовать параметр na = False:

In [13]:
new_log = log[~log.user_id.str.contains('error', na = False)]
new_log

                              user_id                 time      bet     win
0    Запись пользователя № - user_919  2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  2019-01-01 21:31:18      NaN     NaN
..                                ...                  ...      ...     ...
991  Запись пользователя № - user_965  2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   2019-04-20 9:59:58   9754.0     NaN

[985 rows x 4 columns]

In [ ]:
#                                           Преобразование данных

# df.column_name.apply(func)

# Apply вызывает свою функцию для каждого элемента колонки. Функции, с которыми работает apply, бывают двух видов:
# лямбда-функции (можно задать внутри apply),
# обычные именные функции (определяются через def).

# функция apply не изменяет DataFrame к которому применяется

In [ ]:
log = pd.read_csv('log.xls', header=None)
log.columns = ['user_id','time','bet','win']

def id_error(x):
    if x == '#error':
        return ''
    else:
        return x[x.find('user'):]

log['user_id'] = log.user_id.apply(id_error)
log

In [ ]:
log = pd.read_csv('log.xls', header=None)
log.columns = ['user_id','time','bet','win']
t = log.time[0]
t = log.time[0][1:]
# log.time = log.time.apply(lambda x: str(x).replace('[',''))
log.time = log.time.apply(lambda x:str(x).replace('[','') if ('[' in str(x)) else x)
log.time

In [ ]:
log.query('error in user_id')

In [ ]:
# прочитаем файл в переменную log;
# добавим названия колонок user_id, time, bet, win;
# удалим строки, которые содержат значения user_id с ошибками;
# оставим в user_id только значения идентификатора;
# уберём начальную скобку из поля time.

import pandas as pd
log = pd.read_csv('log.xls', header = None)

log.columns = ['user_id','time','bet','win']

def error_id(user_id):
    if user_id =='#error':
        return ''
    else:
        return user_id[user_id.find('user'):]


log['user_id'] = log.user_id.apply(error_id)
log['time'] = log.time.apply(lambda x: str(x).replace('[','') if ('[') in str(x) else x)
log.loc[log.user_id == '0']
log = log.drop(log.loc[log.user_id == ''].index)
log