In [1]:
import pandas as pd
import sklearn as sk
import numpy as np
from sklearn.model_selection import train_test_split
vis_data = pd.read_csv("./train.csv", encoding = 'ISO-8859-1', low_memory = False)

In [2]:
vis_data.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [3]:
train, valid = train_test_split(vis_data, test_size=0.3, shuffle=False)

In [4]:
result = valid['payment_amount'].mean()

In [5]:
result

34.13839024130401

In [6]:
y_true = [1.23, 2.35, 2.75]
y_pred = [1.01, 12.3, 2.74]

In [7]:
from sklearn.metrics import mean_squared_error

mse = sk.metrics.mean_squared_error(y_true, y_pred, sample_weight=None, multioutput='uniform_average', squared=True)

rmse = np.sqrt(mse)
rmse

5.746042116100439

Загрузите данные train.csv, оставьте в данных только признаки 'fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', затем избавьтесь от пропусков. Целевой переменной будет 'balance_due', разделите данные на обучающую и тестовую выборки в соотношении 70% на 30% без перемешивания. Обучите линейную регрессию из scikit-learn и запишите в переменную result значение метрики RMSE на тестовой выборке.

Примечание: RMSE означает Rooted Mean Squared Error. Rooted означает, что из значения метрики был взят корень.

In [50]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
vis_data = pd.read_csv("./train.csv", encoding = 'ISO-8859-1', low_memory = False)

In [51]:
# vis_data.head()

In [52]:
# vis_data.isna().sum()

In [53]:
data = vis_data[['fine_amount','state_fee','late_fee','discount_amount','balance_due']]

In [54]:
data.head()

   fine_amount  state_fee  late_fee  discount_amount  balance_due
0        250.0       10.0      25.0              0.0        305.0
1        750.0       10.0      75.0              0.0         75.0
2        250.0        0.0       0.0              0.0          0.0
3        250.0        0.0       0.0              0.0          0.0
4        250.0        0.0       0.0              0.0          0.0

In [55]:
data.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250306 entries, 0 to 250305
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   fine_amount      250305 non-null  float64
 1   state_fee        250306 non-null  float64
 2   late_fee         250306 non-null  float64
 3   discount_amount  250306 non-null  float64
 4   balance_due      250306 non-null  float64
dtypes: float64(5)
memory usage: 9.5 MB

In [56]:
data.isna().sum()

fine_amount        1
state_fee          0
late_fee           0
discount_amount    0
balance_due        0
dtype: int64

In [57]:
data = data.dropna(axis = 0)

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250305 entries, 0 to 250305
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   fine_amount      250305 non-null  float64
 1   state_fee        250305 non-null  float64
 2   late_fee         250305 non-null  float64
 3   discount_amount  250305 non-null  float64
 4   balance_due      250305 non-null  float64
dtypes: float64(5)
memory usage: 11.5 MB

In [59]:
X = data[['fine_amount', 'state_fee', 'late_fee', 'discount_amount']]
Y = data['balance_due']

In [60]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size = 0.3, shuffle = False)

In [61]:
from sklearn.linear_model import LinearRegression
myModel = LinearRegression() #указываем, что наша модель - регрессия
myModel.fit(X_train, Y_train) #обучаем модель

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [62]:
y_pred = myModel.predict(X_test)
y_pred

array([-1.29353045, -0.8980372 ,  5.5851309 , ...,  4.63886831,
        4.63886831,  4.63886831])

In [63]:
result = np.sqrt(mean_squared_error(Y_test, myModel.predict(X_test)))
result

132.08033445898667

In [64]:
from sklearn.metrics import mean_squared_error

mse = sk.metrics.mean_squared_error(Y_test, y_pred, sample_weight=None, multioutput='uniform_average', squared=True)

rmse = np.sqrt(mse)
rmse

132.08033445898667

In [34]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
vis_data = pd.read_csv("./train.csv", encoding = 'ISO-8859-1', low_memory = False)
vis_data_small = vis_data[['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due']].dropna()
X = vis_data_small[['fine_amount', 'state_fee', 'late_fee', 'discount_amount']]
y = vis_data_small['balance_due']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=False)
clf = LinearRegression()
clf.fit(X_train, y_train)
result = np.sqrt(mean_squared_error(y_test, clf.predict(X_test)))  
result

132.08033445898667

Используя библиотеку sklearn, найдите метод для подсчёта метрики accuray. Создайте два одинаковых списка, состоящих из 100 одинаковых чисел. Замените в одном списке одно число на любое другое, отправьте эти списки в метод для подсчёта accuracy. Что выдаст алгоритм на выходе? Ответ запишите с точностью до сотых, в качестве разделителя используйте точку.

In [70]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score 
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import balanced_accuracy_score 
from sklearn.metrics import cohen_kappa_score

In [111]:
prec = 0.75
recall = 0.6
2*prec*recall/(prec+recall)

0.6666666666666665

In [112]:
y_true = [0,0,1,1,1,1,0,1]
y_pred = [0,1,0,0,1,1,0,1]
print(f1_score(y_true, y_pred))

0.6666666666666665

In [115]:
print(precision_score(y_true, y_pred))

0.75

In [117]:
y_true = [0,0,1,0,0,1,0]
y_pred = [1,1,1,0,1,1,0]
print(recall_score(y_true, y_pred))

1.0