Итак, возвращаемся к нашему другу Коле и его данным по букмекерской конторе.  

Коля хочет расширять бизнес и увеличивать прибыль, и мы поможем ему 
с помощью аналитических навыков и знания нужных инструментов. 
Работать будем с теми же данными - log.csv и users.csv.

Что мы уже сделали?

Загрузили данные (и побороли ошибки, связанные с плохим форматом данных).
Дали признакам (колонкам) соответствующие имена.
Научились фильтровать данные и применять к ним apply.
Обнаружили часть ошибок в данных.

Какие вопросы остались?
Вспомним часть вопросов из прошедшего модуля.

Сколько раз человеку надо прийти, чтобы сделать ставку?

Каков средний выигрыш в процентах?

Каков баланс по каждому пользователю?

Какие города самые выгодные?

В каких городах самая высокая ставка?

Сколько в среднем времени проходит от первого посещения сайта до первой попытки?

Мы постараемся ответить не только на эти, но и на многие другие вопросы.

Какие бывают пропуски
Вот список значений, которые по умолчанию считаются как пропуски: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan', '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan', 'null'.

In [1]:
import pandas as pd

In [2]:
log = pd.read_csv('log.xls')

В pandas есть метод isna(), который возвращает таблицу такой же размерности, что и на вход, но значения в ней - True или False. True, если данное значение является пропуском, и False в ином случае.

In [4]:
log.head(5).isna()

,Запись пользователя № - user_919,[2019-01-01 14:06:51,Unnamed: 2,Unnamed: 3
0,False,False,True,True
1,False,False,True,True
2,False,False,True,True
3,False,False,True,True
4,False,False,False,True