In [12]:
import pandas as pd
import numpy as np
from scipy.stats import norm
from statsmodels.stats import weightstats
from scipy.stats import t

In [2]:
import pandas as pd
df = pd.DataFrame({
    'x': [6.1, 9.2, 11.5, 8.6, 12.1, 3.9, 8.4, 10.1, 9.4, 8.9],
    'y': [7.3, 8.7, 12.6, 6.8, 12, 6.9, 10.2, 17.1, 9.2, 11.6]
})
df

      x     y
0   6.1   7.3
1   9.2   8.7
2  11.5  12.6
3   8.6   6.8
4  12.1  12.0
5   3.9   6.9
6   8.4  10.2
7  10.1  17.1
8   9.4   9.2
9   8.9  11.6

In [5]:
weightstats.ttest_ind(df['x'],df['y'],usevar = 'unequal')

(-1.120432065446935, 0.27840903994521154, 16.673890238780608)

In [6]:
np.mean(df)

x     8.82
y    10.24
dtype: float64

In [9]:
n1 = 100
n2 = 100
a = 62
b = 29
p1 = a/n1
print(p1)#0.62
p2 = b/n2
print(p2)#0.29
p_ = (p1*n1 + p2*n2)/(n1+n2)
print(p_)#0.455
zst = (p1 - p2)/(np.sqrt(p_*(1-p_))*np.sqrt((1/n1)+(1/n2)))
print(zst)#0.09371842648082898

0.62
0.29
0.455
4.685921324041449

TypeError: _parse_args() missing 1 required positional argument: 'df'

In [16]:
7200/60

120.0